<!doctype html>
<html>
  <head>
    <title>longplay.club</title>
  </head>
  <body>
    <ul>
      <% @sounds.each do |s| %>
        <li>/sounds/<%= s %></li>
      <% end %>
    </ul>
  </body>
</html>
